doctype html
html
  head
    title undocumented.io
    //- TODO: Stop hotlinking this
    link(rel="stylesheet",href="https://rawgithub.com/twbs/bootstrap/v3.1.1/dist/css/bootstrap.min.css")
  body
    h1 undocumented.io
    :markdown
      Welcome to [undocumented.io][], a platform for documenting undocumented APIs.

      We are still in our early stages but should have some content to point to shortly.

      [undocumented.io]: undocumented.io
