doctype html
html
  head
    title undocumented.io
    //- TODO: Stop hotlinking this
    link(rel="stylesheet",href="https://rawgithub.com/twbs/bootstrap/v3.1.1/dist/css/bootstrap.min.css")
  body
    div.container.text-center
      h1 undocumented.io
      :markdown
        Welcome to [undocumented.io][], a platform for documenting undocumented APIs.

        We are still in our early stages but should have some content to point to shortly.

        [undocumented.io]: undocumented.io
      hr

      :markdown
        Created by [Todd Wolfson][] on [GitHub][] under the [UNLICENSE][]

        [Todd Wolfson]: http://twolfson.com/
        [GitHub]: https://github.com/twolfson/undocumented.io
        [UNLICENSE]: https://github.com/twolfson/undocumented.io/blob/ac37222907ba264bf52517045e117cde22e7c061/UNLICENSE
