//- TODO: Consolidate header
doctype html
html
  head
    title undocumented.io
    //- TODO: Stop hotlinking this
    link(rel="stylesheet",href="https://rawgithub.com/twbs/bootstrap/v3.1.1/dist/css/bootstrap.min.css")
  body
    div.container
      h1.text-center Clipper API
      h2.text-center Research (up to dashboard)
